/* ---- Reset CSS ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    border: 0;
    box-sizing: content-box;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

button {
    background-color: transparent;
}

/* Global */
:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);

    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);
}

html {
    font-size: clamp(0.6rem, 0.425rem + 1vw, 1rem);
    font-family: 'Manrope', sans-serif;
    color-scheme: dark;
}

body {
    display: grid;
    align-content: space-between;
    justify-items: center;
    block-size: 100vh;
    font-size: 1.6rem;
    color: var(--LightCyan);
    background-color: var(--DarkBlue);
}

/* Advice */
.advice {
    position: relative;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    padding-block: 32px 60px;
    inline-size: 90%;
    max-inline-size: 36rem;
    background-color: var(--DarkGrayishBlue);
}

.advice-number {
    font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--NeonGreen);
}

.advice__text {
    margin-block-start: 24px;
    inline-size: 88%;
    font-size: 22px;
    text-align: center;
}

.advice__text::before,
.advice__text::after {
    font-size: 22px;
}

.advice__divider,
.advice__divider--desktop {
    display: none;
    margin-block-start: 24px;
}

@media (min-width: 370px) and (max-width: 749px) {
    .advice__divider {
        display: block;
    }
}

@media (min-width: 750px) {
    .advice__divider--desktop {
        display: block;
    }
}

.advice__btn {
    position: absolute;
    inset-block-end: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 16px;
    background-color: var(--NeonGreen);
    cursor: pointer;
}

.advice__btn:hover {
    box-shadow: 0 0 30px 0 var(--NeonGreen);
}

/* Footer */
.footer {
    grid-row: 3;
    padding-block: 2rem;
    padding-inline: 5%;
    text-align: center;
}

.footer__link {
    color: var(--NeonGreen);
}
